* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
}
